 @import './normalize.css';

 :root {
    --shadow: 0px 4px 8px 3px rgba(97, 152, 193, 0.15), 0px 1px 3px rgba(97, 152, 193, 0.25);
    --section: clamp(40px, 10.4166666667vw, 80px);

    --color-dark: #002B73;
    --color-medium: #3B5BA9;
    --color-light: #F2F4FF;
    --color-white: #FEF5F5;
 }

 * {
    font-family: 'Source Sans Pro';
    color: #191820;
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
 }

 a,
 strong {
    color: inherit;
 }

 a {
    text-decoration: underline;
    color: #3B5BA9;
 }

 html {
    overflow-x: hidden;
 }

 body {
    background: #FEF5F5;
    overflow-x: hidden;
 }

 main {
    margin-top: clamp(110px, 23.4375vw, 200px);
 }

 a,span{
   font-weight: bolder;
 }

 .arsenal {
    font-family: 'Arsenal', 'Source Sans Pro';
 }

 .arsenal * {
    font-family: 'Arsenal', 'Source Sans Pro';
 }

 .h1 {
    font-weight: 700;
    font-size: 72px;
    line-height: 111%;
    letter-spacing: -0.02em;
 }

 .h2 {
    font-weight: 700;
    font-size: 60px;
    line-height: 110%;
    letter-spacing: -0.02em;
 }

 .h3 {
    font-weight: 700;
    font-size: 54px;
    line-height: 111%;
    letter-spacing: -0.02em;
 }

 .h4 {
    font-weight: 700;
    /* 33/768*100 */
    font-size: clamp(33px, 4.296875vw, 38px);
    line-height: 118%;
    letter-spacing: -0.01em;
 }

 .h5 {
    font-weight: 700;
    font-size: 29px;
    line-height: 128%;
    letter-spacing: -0.005em;
 }

 .h6 {
    font-weight: 700;
    /* 18/768*100 */
    font-size: clamp(18px, 2.34375vw, 20px);
    line-height: 130%;
 }

 .sub1 {
    font-style: italic;
    font-weight: 700;
    font-size: 17px;
    line-height: 124%;
    letter-spacing: 0.02em;
 }

 .sub2 {
    font-weight: 700;
    font-size: 14px;
    line-height: 136%;
    letter-spacing: 0.02em;
 }

 .body1 {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 131%;
    font-feature-settings: 'pnum' on, 'onum' on;
 }

 .body2 {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 129%;
    font-feature-settings: 'pnum' on, 'onum' on;
 }

 .body3 {
    font-weight: 400;
    font-size: 12px;
    line-height: 127%;
    font-feature-settings: 'pnum' on, 'onum' on;
 }

 strong {
    color: #050505;
 }

 .button {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 600;
    /* 15/768*100 */
    font-size: clamp(15px, 1.953125vw, 16px);
    line-height: 125%;
    letter-spacing: 0.003em;
 }

 .filled {
    display: block;
    width: fit-content;
    font-family: 'Source Sans Pro';
    border: none;
    font-weight: 600;
    font-size: 16px;
    line-height: 125%;
    letter-spacing: 0.003em;
    color: #050505 !important;
    background: linear-gradient(315deg, #FCCF4F 0%, #E7DCBF 99.99%);
    box-shadow: 0px 1px 3px 1px rgba(97, 152, 193, 0.15), 0px 1px 2px rgba(97, 152, 193, 0.25);
    border-radius: 4px;
    padding: 10px 44px;
    text-decoration: unset;
    transition: background-color .3s cubic-bezier(0.39, 0.575, 0.565, 1);
 }

 .filled:hover {
    background: linear-gradient(315deg, #EDBD35 0%, #E6D9AC 99.99%);
 }

 .filled:focus {
    background: linear-gradient(315deg, #B98901 0%, #E6BC7E 99.99%);
 }

 .filled:disabled {
    color: #B2B2B8;
    background: #E1E1EB;
 }